body {
    padding-top: 50px;
    background-image: -webkit-linear-gradient(top, #999, white);
    background-repeat: no-repeat;
}

.navbar-inner {
    background-color: #89de61;
    background-image: -webkit-linear-gradient(top, #89de61, #222);
    background-image: -moz-linear-gradient(top, #89de61, #222);
    background-image: linear-gradient(top, #89de61, #222);
}

.navbar .nav > li > a, .navbar .brand {
    color: white;
}

.navbar .links {
    margin-top: 10px;
    color: white
}

.navbar .links a {
    color: white;
    font-weight: bold;
}

.navbar .links .signup {
    color: #c8f0b5;
}

.account {
    color: white;
    padding-top: 10px;
}

.dropdown-menu .active a:hover, .dropdown-menu li > a:hover {
    background-color: #89de61;
    color: #222;
}

.navbar .btn {
    margin-bottom: 0;
}

.breadcrumb {
    border-radius: 0;
    margin-top: -10px;
}

.content .span3 {
    padding: 5px;
    height: 180px;
    margin-bottom: 30px;
    /*box-shadow: 5px 5px 3px #888;*/
}

.content h1 {
    margin-bottom: 10px;
}

.content .title {
    font-weight: bold;
    display: block;
    background: black;
    padding: 5px;
    max-width: 230px;
    margin-right: -5px;
}

.content .title a {
    color: white;
}

.sidebar h2 {
    font-size: 16px;
}

.grand-valley {
    /*background: url('http://farm3.staticflickr.com/2505/3947853369_e7bf939355_m.jpg') no-repeat 5px 30px;*/
    background: url('../images/grand-valley.jpg') no-repeat 5px 30px;
}

.colorado-western-slope {
    /*background: url('http://farm3.staticflickr.com/2440/3947853583_dccc0b37a0_m.jpg') no-repeat 5px 30px;*/
    background: url('../images/western-slope.jpg') no-repeat 5px 30px;
}

.colorado-front-range {
    /*background: url('http://farm4.staticflickr.com/3422/3948635568_4c69bfb92f_m.jpg') no-repeat 5px 30px;*/
    background: url('../images/front-range.jpg') no-repeat 5px 30px;
}

.moab {
    background: url('../images/moab.jpg') no-repeat 5px 30px;
    /*background: url('http://farm5.staticflickr.com/4031/4662051819_aa2c75e107_m.jpg') no-repeat 5px 30px;*/
}

select {
    width: auto;
}

.property-label:after {
    content: ":"
}

.subscribe {
    position: absolute;
    right: 20px;
    top: 100px;
}

.login-form .alert {
    margin-right: 0
}

.sorted.asc:after {
    content: " \2191"
}

.sorted.desc:after {
    content: " \2193"
}

.icon-feed {
    margin-bottom: 4px;
}

.spacer {
    border-bottom: 1px dotted #666;
    height: 10px;
    margin-bottom: 10px;
    width: 75%
}

label, .property-label {
    font-weight: bold;
}

.span6 > div {
    margin-bottom: 10px;
}