body {
    padding-top: 50px;
}

.navbar-inner {
    background-color: #89de61;
    background-image: -webkit-linear-gradient(top, #89de61, #222);
    background-image: -moz-linear-gradient(top, #89de61, #222);
    background-image: linear-gradient(top, #89de61, #222);
}

.navbar .nav > li > a, .navbar .brand {
    color: white;
}

.account {
    color: white;
    padding-top: 10px;
}

.dropdown-menu .active a:hover, .dropdown-menu li > a:hover {
    background-color: #89de61;
    color: #222;
}

.navbar .btn {
    margin-bottom: 0;
}

.breadcrumb {
    border-radius: 0;
    margin-top: -10px;
}

.content .span3 {
    border: 1px solid silver;
    padding: 5px;
    height: 200px;
    margin-bottom: 30px;
}

.sidebar h2 {
   font-size: 16px;
}