@(regions: List[Region])

@headContent = {

}

@breadcrumbs = {
    <div class="nav-collapse">
        <ul class="nav">
            <li class="active"><a href="@routes.ApplicationController.index()">Hike</a></li>
        </ul>
    </div>
}

@main("Hike - Uber Tracks - Regions", headContent, breadcrumbs) {

    <div class="row-fluid">
        <div class="span9">

            <div class="row-fluid">
            @for(i <- 0.to(regions.size - 1)) {
                <div class="span4 well">
                    <h3><a href="@routes.RegionController.getRegionHtml(regions(i).getUrlFriendlyName)">@regions(i).getName</a></h3>
                    <a href="@routes.RegionController.getRegionHtml(regions(i).getUrlFriendlyName)"><img src="@regions(i).photo.getUrl"></a>
                </div>
            }
            </div>

            @if((CurrentUser.get() != null) && (CurrentUser.get().isAdmin)) {
                <a href="@routes.RegionController.addRegion()" class="btn btn-small btn-info"><i class="icon-plus icon-white"></i> Add New Region</a>
            }
        </div>
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Recent Comments</li>
                    @for(comment <- Comment.fiveMostRecent) {
                        <li><a href="@routes.RouteController.getRouteHtml(comment.route.region.getUrlFriendlyName, comment.route.getUrlFriendlyName)">@comment.value</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

}