@(regions: List[Region])

@headContent = {

}

@breadcrumbs = {
    <div class="nav-collapse">
        <ul class="nav">
            <li class="active"><a href="@routes.ApplicationController.index()">Hike</a></li>
        </ul>
    </div>
}

@main("Hike - Uber Tracks - Regions", headContent, breadcrumbs) {

    <div class="row-fluid">
        <div class="span9">
            <ul>
            @for(region <- regions) {
                <li><a href="@routes.RegionController.getRegionHtml(region.getUrlFriendlyName)">@region.getName</a></li>
            }
            </ul>
        </div>
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Recent Comments</li>
                    @for(comment <- Comment.fiveMostRecent) {
                        <li><a href="">@comment.route.region</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

}