@(title: String, headContent: Html = Html(""), breadcrumbs: Html = utils.html.defaultBreadcrumb.render)(bodyContent: Html)
<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@utils.CDN(routes.Assets.at("images/favicon.png"))">
    <link rel='stylesheet' href='@utils.CDN(routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css")))'>
    <script type='text/javascript' src='@utils.CDN(routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js")))'></script>
    <style type="text/css">
        body {
            margin-top: 50px;
        }
    </style>
    @headContent
</head>
<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="http://www.ubertracks.com">Uber Tracks</a>
                
                <div class="btn-group pull-right">
                    @if(CurrentUser.get() != null) {
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user"></i> @CurrentUser.get().fullName
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@routes.ApplicationController.logout()">Sign Out</a></li>
                        </ul>
                    } else {
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user"></i> Login / Sign Up
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@routes.ApplicationController.login()">Login</a></li>
                            <li><a href="@routes.ApplicationController.signup()">Sign Up</a></li>
                        </ul>
                    }
                </div>
    
                @breadcrumbs
            
            </div>
        </div>
    </div>

    <div class="container-fluid">
        @bodyContent
    </div>

    <script type='text/javascript' src='@utils.CDN(routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js")))'></script>

</body>
</html>
