@(title: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <form action="@routes.ApplicationController.login()" method="post">
            <input name="emailAddress"/>
            <input name="password" type="password"/>
            <input type="submit" value="Login"/>
        </form>
        
        @content
    </body>
</html>
