@(title: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        @userHeader(user: User) = {
            @if(user != null) {
                Hello, @user.fullName
            } else {
                <form action="@routes.ApplicationController.login()" method="post">
                    Email: <input name="emailAddress"/>
                    Passoword: <input name="password" type="password"/>
                    <input type="submit" value="Login"/>
                </form>
            }
        }
        @userHeader(User.findByToken(session.get("token")))
        
        @content
    </body>
</html>
