@(region: Region)

@headContent = {
    <link rel="alternate" type="application/rss+xml" title="@region.getName RSS Feed" href="@routes.RegionController.getRegionFeed(region.getUrlFriendlyName)" />
}

@main("Happy Trails - Regions - " + region.getName, headContent) {

    <ul>
        @for(route <- region.routes) {
        <li><a href="@routes.RouteController.getRouteHtml(region.getUrlFriendlyName, route.getUrlFriendlyName)">@route.getName</a></li>
        }
    </ul>

    @if(CurrentUser.get() != null) {
        <a href="@routes.RegionController.addRoute(region.getUrlFriendlyName)">Add a New Route</a>
    }

}