@(region: Region, sort: String)

@headContent = {
    <link rel="alternate" type="application/rss+xml" title="@region.getName RSS Feed" href="@routes.RegionController.getRegionFeed(region.getUrlFriendlyName)" />
}

@breadcrumbs = {
    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="@routes.ApplicationController.index()">Hike</a></li>
            <li class="active"><a href="@routes.RegionController.getRegionHtml(region.getUrlFriendlyName)">@region.getName</a></li>
        </ul>
    </div>
}

@main("Uber Tracks - Hike - " + region.getName, headContent, breadcrumbs) {

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Sort
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <a href="?sort=name">By Name</a>
            <a href="?sort=averageRating">By Rating</a>
        </ul>
    </div>
    <ul class="unstyled">

    @for(route <- utils.RouteSort.getSortedRoutes(region.routes, sort)) {
        <li><a href="@routes.RouteController.getRouteHtml(region.getUrlFriendlyName, route.getUrlFriendlyName)" class="lead">@route.getName</a> (@route.distanceInMiles miles) @utils.html.routeStars(route)</li>
    }
    </ul>

    @if(CurrentUser.get() != null) {
        <a href="@routes.RegionController.addRoute(region.getUrlFriendlyName)" class="btn btn-small btn-info"><i class="icon-plus icon-white"></i> Add a New Route</a>
        @if(RegionSubscription.findByUserAndRegion(CurrentUser.get(), region) == null) {
            <a href="@routes.RegionController.subscribe(region.getUrlFriendlyName)" class="btn"><i class="icon-envelope"></i> Subscribe to Updates</a>
        } else {
            <a href="@routes.RegionController.unsubscribe(region.getUrlFriendlyName)" class="btn"><i class="icon-envelope"></i> Unsubscribe from Updates</a>
        }
    }

}