@(region: Region)

@headContent = {
    <link rel="alternate" type="application/rss+xml" title="@region.getName RSS Feed" href="@routes.RegionController.getRegionFeed(region.getUrlFriendlyName)" />
}

@breadcrumbs = {
    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="@routes.ApplicationController.index()">Hike</a></li>
            <li class="active"><a href="@routes.RegionController.getRegionHtml(region.getUrlFriendlyName)">@region.getName</a></li>
        </ul>
    </div>
}

@main("Uber Tracks - Hike - " + region.getName, headContent, breadcrumbs) {

    <ul>
        @for(route <- region.routes) {
        <li><a href="@routes.RouteController.getRouteHtml(region.getUrlFriendlyName, route.getUrlFriendlyName)">@route.getName</a></li>
        }
    </ul>

    @if(CurrentUser.get() != null) {
        <a href="@routes.RegionController.addRoute(region.getUrlFriendlyName)">Add a New Route</a>
    }

}