@(route: Route)

@headContent = {

}

@breadcrumbs = {
    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="@routes.ApplicationController.index()">Hike</a></li>
            <li><a href="@routes.RegionController.getRegionHtml(route.region.getUrlFriendlyName)">@route.region.getName</a></li>
            <li class="active"><a href="@routes.RouteController.getRouteHtml(route.region.getUrlFriendlyName, route.getUrlFriendlyName)">@route.getName</a></li>
        </ul>
    </div>
}

@main("Uber Tracks - Hike - " + route.region.getName + " - " + route.getName, headContent, breadcrumbs) {

    <h1>@route.getName</h1>
    @utils.html.routeStars(route)
    <br/><br/>
    <h2>Directions:</h2>
    <ul class="unstyled">
    @for(direction <- route.directions.sortBy(_.stepNumber)) {
        <li>@direction.stepNumber. @direction.instruction</li>
    }
    </ul>

    @if(route.comments.size > 0) {
        <h2>Comments:</h2>
        <ul>
        @for(comment <- route.comments) {
            <li><b>@comment.user.fullName (@comment.creationDate)</b><br/>@comment.value</li>
        }
        </ul>
    }

    @if(CurrentUser.get() != null) {
        <h2>Add a Comment:</h2>
        <form action="@routes.RouteController.saveComment(route.region.getUrlFriendlyName, route.getUrlFriendlyName)" method="post">
            <textarea name="value" rows="6" cols="80" class="span6"></textarea><br/>
            <input class="btn" type="submit" value="Post Comment"/>
        </form>
        @if(flash.contains("error")) {
            <p class="alert alert-error">@flash.get("error")</p>
        }
    }

    @if((CurrentUser.get() != null) && (CurrentUser.get().isAdmin)) {
        <a href="@routes.RouteController.deleteRoute(route.region.getUrlFriendlyName, route.getUrlFriendlyName)" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</a>
    }

}