@(route: Route)

@headContent = {

}

@breadcrumbs = {
    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="@routes.ApplicationController.index()">Hike</a></li>
            <li><a href="@routes.RegionController.getRegionHtml(route.region.getUrlFriendlyName)">@route.region.getName</a></li>
            <li class="active"><a href="@routes.RouteController.getRouteHtml(route.region.getUrlFriendlyName, route.getUrlFriendlyName)">@route.getName</a></li>
        </ul>
    </div>
}

@main("Uber Tracks - Hike - " + route.region.getName + " - " + route.getName, headContent, breadcrumbs) {

    <h1>@route.getName</h1>

    <h2>Directions:</h2>
    <ul>
    @for(direction <- route.directions) {
        <li>@direction.stepNumber - @direction.instruction</li>
    }
    </ul>

    <h2>Average Rating: @route.getAverageRating</h2>

    @if(User.findByToken(session.get("token")) != null) {
        <form action="@routes.RouteController.saveRating(route.region.getUrlFriendlyName, route.getUrlFriendlyName)" method="post">
            <select name="value">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="submit" value="Rate!"/>
        </form>
    }

    <h2>Comments:</h2>
    <ul>
    @for(comment <- route.comments) {
        <li>@comment.value - @comment.value</li>
    }
    </ul>

    @if(CurrentUser.get() != null) {
        <h2>Add a Comment:</h2>
        <form action="@routes.RouteController.saveComment(route.region.getUrlFriendlyName, route.getUrlFriendlyName)" method="post">
            <textarea name="value" rows="6" cols="80"></textarea><br/>
            <input type="submit" value="Post Comment"/>
        </form>
    }

}