@(region: Region, routeForm: Form[Route])

@implicitFieldConstructor = @{ helper.FieldConstructor(utils.html.twitterBootstrapInput.render) }

@main("Uber Tracks - Hike - " + region.getName + " - Add New Route") {

    <h1>Add New Route</h1>

    @helper.form(action = routes.RegionController.saveRoute(region.getUrlFriendlyName), 'class -> "form-horizontal") {
        @helper.inputText(routeForm("name"), '_label -> "Name")
        @helper.inputText(routeForm("distanceInMiles"), '_label -> "Distance in Miles")
        @helper.inputText(routeForm("location"), '_label -> "Location")
        @helper.textarea(routeForm("description"), '_label -> "Description", 'class -> "span9")
        @for(i <- 0.to(2)) {
            <input type="hidden" name="directions[@i].stepNumber" value="@(i + 1)">
            @helper.inputText(routeForm("directions")("[" + i + "]")("instruction"), '_label -> ("Instruction " + (i + 1)) , 'class -> "span9")
        }

        @*
        @helper.repeat(routeForm("directions"), min = 2) { direction =>
            @helper.inputText(direction("instruction"))
        }
        *@

        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Create Route"/>
        </div>
    }

}
