.down-arrow {
    margin-top: 30px;
    font-weight: bold
}

section > code {
    white-space: nowrap;
}

pre {
    max-height: 400px;
    overflow: hidden;
}

pre code {
    padding: 2em !important;
}

.top {
    top: -200px;
}

.column2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 50px;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    width: 100%;
}

.filename {
    margin-top: 20px;
    margin-right: 45px;
    text-align: right;
    color: #EEEEEE;
    font-size: 18px;
}

.comparison {
    position: absolute;
}

.comparison .fragment {
    position: absolute;
    top: 0;
    opacity: 0;
}

#reveal .slides {
    top: 0px;
    margin-top: 0px;
}